# Android
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
app/build
captures/
.externalNativeBuild
.cxx
*.apk
*.aab

# Web
web/node_modules/
web/dist/
web/.vercel/
web/.env*.local
*.log

# Keystores & keys
*.jks
*.keystore
